.headers {
  height: 60px;
  width: auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #707070 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  & .logoNavbar {
    width: 141px;
    height: 34px;
    margin-right: 189px;
  }
  & .nav-link {
    margin-left: 2rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #707070 !important;
  }
  & .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active {
    color: #ff002e !important;
  }
  & .dropdown-item {
    @extend .nav-link;
    margin-left: 0;
  }
  a:focus {
    background: #ff002e !important;
    color: white !important;
  }
  // & .navbar-light .navbar-nav .active > .nav-link {
  //   font-family: Montserrat;
  //   font-style: normal;
  //   font-weight: 600;
  //   font-size: 14px;
  //   line-height: 18px;
  //   color: #707070 !important;
  //   text-transform: uppercase;
  // }
}

@media only screen and (max-width: 500px) {
  .headers .logoNavbar {
    margin-right: 0;
  }
}
