.news {
  & .articleBig {
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    & img {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
    & .boxTitle {
      width: 252px;
      height: 94px;
      background: #ffffff;
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      border-radius: 0px 4px 0px 0px;
      bottom: 0;
      & .banner {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;

        color: #000000;
      }
      & .textTitle {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        /* or 129% */
        width: inherit;

        color: #000000;
      }
    }
  }

  & .articleSmall {
    & .ml-2 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      /* or 154% */

      color: #000000;
    }
    & .writtenBy {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 12px;

      color: #707070;
      left: 0;
      bottom: 0;
    }
    & .newsPhoto {
      width: 120px;
      height: 120px;

      & img {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }
    & .titleSmallArticle {
      font-weight: 700;
    }
  }
}

@media only screen and (max-width: 500px) {
  #categoryx {
    height: 5px !important;
  }
  .news .articleBig .boxTitle .textTitle {
    font-size: 12px;
    margin: 15px 15px !important;
    width: 100%;
  }
  .news .articleBig {
    height: 200px !important;
  }
  .news .articleBig .boxTitle {
    height: 60% !important;
  }
  .news .articleSmall .ml-2 {
    font-size: 10px;
  }
  .news .writtenBy {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #707070;
    left: 0;
    bottom: 0;
  }
}
