//sidenav
.sidenav {
  height: 100%;
  min-height: 100%;
  a {
    font-family: Montserrat;

    font-weight: bold;

    font-size: 14px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 30px;
    transition: 200ms;
  }
  a:hover {
    opacity: 0.5;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }

  .container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phone {
    background-color: #36383f;
    border-radius: 40px;
    width: 300px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 30px 50px 100px #85888c;
  }
  .content {
    border: 1px solid #36383f;
    border-radius: 20px;
    width: 94%;
    height: 91%;
    background-color: #f5f6fa;
    overflow: hidden;
  }
  nav {
    // background-color: black;
    height: 65px;
    width: 80px;
    // background: -webkit-linear-gradient(
    //   342.84deg,
    //   #1589cb 20.49%,
    //   #2dc0ca 100.85%
    // );
    border-radius: 5px;
  }

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    // left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    background: black;
    transform: rotate(-45deg) translate(2px, 2px);
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(45deg) translate(-3px, -10px);
  }

  #menu {
    position: absolute;
    width: 70%;
    height: 100vh;
    box-shadow: 0 4px 8px rgba(171, 171, 171, 0.25);
    margin: -50px 0 0 -13px;
    padding: 50px;
    /* padding-top: 125px; */
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-200%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: 100;
  }

  #menu li {
    padding: 10px 0;
    transition-delay: 2s;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
}

//sidebar
.sidebar {
  height: calc(100vh - 90px);
  width: 81px;
  left: 0px;
  /* top: 0px; */
  border-radius: 0px;
  background: #fafafa;
  // & ::hover {
  //   background: red;
  // }

  & .profileSide.smallBox {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    &:hover {
      background: linear-gradient(307.1deg, #eadede 20.49%, #5bd6de 100.85%);
    }
    img {
      width: 20px;
      // height: 20px;
    }
  }
}
@media screen and (max-width: 500px) {
  .sidebar {
    height: calc(100vh - 90px);
    width: 55px;
    left: 0px;
    /* top: 0px; */
    border-radius: 0px;
    background: #fafafa;
    & .smallBox {
      width: 50px;
      height: 50px;
      border-radius: 3px;
    }
  }
  .footerRoot {
    padding-left: 55px !important;
  }
}
.sidebar {
  & .active {
    background: linear-gradient(307.1deg, #1589cb 20.49%, #2dc0ca 100.85%);
    border-radius: 3px;
  }
}

.propil {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  // position: absolute;
  right: 0;
}
