@media only screen and (max-width: 500px) {
  .titleSmallArticle {
    max-width: 350px;
  }
}
@media only screen and (max-width: 450px) {
  .titleSmallArticle {
    max-width: 325px;
  }
}
@media only screen and (max-width: 400px) {
  .titleSmallArticle {
    max-width: 275px;
  }
}
@media only screen and (max-width: 350px) {
  .titleSmallArticle {
    max-width: 200px;
  }
}
