.footer {
  height: auto;
  width: 100%;
  background: #f2f2f2;
  & .self-container {
    width: 54%;
    padding-top: 40px;
    & .section1 {
      margin-bottom: 30px;
      & .logoFooter {
        margin-right: 120px;
      }
      & .menu {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #333333;
        margin-right: 48px;
        margin-bottom: 40px;
        text-align: center;
      }
    }

    & .section2 {
      & .line1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        /* identical to box height */

        color: #333333;
        height: 50px;
        width: 100%;
        & .powered {
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #333333;
        }
        & .ds-logo {
          height: 46.00022506713867px;
          width: 172.00177001953125px;
          left: 0px;
          top: 0px;
          border-radius: 0px;
        }
      }
      & .line2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        margin-top: 45px;
        color: #a19e9e;
        padding-bottom: 96px;
      }
    }
  }

  @media only screen and (max-width: 1400px) {
    & .self-container {
      width: 74%;
      padding-top: 40px;
      & .section1 {
        margin-bottom: 30px;
        & .logoFooter {
          margin-right: 120px;
        }
        & .menu {
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 18px;
          color: #333333;
          margin-right: 48px;
          margin-bottom: 40px;
          text-align: center;
        }
      }

      & .section2 {
        & .line1 {
          height: 50px;
          width: 100%;
          & .powered {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #333333;
          }
          & .ds-logo {
            height: 46.00022506713867px;
            width: 172.00177001953125px;
            left: 0px;
            top: 0px;
            border-radius: 0px;
          }
        }
        & .line2 {
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          margin-top: 45px;
          color: #a19e9e;
          padding-bottom: 96px;
        }
      }
    }
  }
  @media only screen and (max-width: 500px) {
    & .self-container {
      width: 94%;
      padding-top: 40px;
      & .section1 {
        margin-bottom: 30px;
        & .logoFooter {
          margin-right: 120px;
        }
        & .menu {
          font-size: 12px;
          padding: 0 18px;
          margin-bottom: 0;
        }
      }

      & .section2 {
        & .line1 {
          height: 50px;
          width: 100%;
          font-size: 12px;
          & .align-middle {
            // top: -15px !important;
          }
          & .dsLogo {
            width: 130px !important;
          }
          & .powered {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #333333;
          }
          & .ds-logo {
            height: 46.00022506713867px;
            width: 172.00177001953125px;
            left: 0px;
            top: 0px;
            border-radius: 0px;
          }
        }
        & .line2 {
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          margin-top: 45px;
          color: #a19e9e;
          padding-bottom: 96px;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .footer .self-container .section1 .menu {
    padding: 0 8px;
  }
  .footer .self-container .section2 .line2 {
    padding-bottom: 50px;
  }
}
