.footer {
  height: 360px;
  width: 100%;
  background: #f2f2f2;

  & .self-container {
    width: auto;
    margin: 0 440px;
    padding-top: 40px;
    & .section1 {
      margin-bottom: 60px;
      & .logoFooter {
        margin-right: 120px;
      }
      & .menu {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #333333;
        margin-right: 48px;
        margin-bottom: 40px;
        text-align: left;
      }
    }

    & .section2 {
      & .line1 {
        height: 50px;
        width: 100%;
        & .powered {
          font-family: Helvetica;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          /* identical to box height */

          color: #333333;
        }
        & .ds-logo {
          height: 46.00022506713867px;
          width: 172.00177001953125px;
          left: 0px;
          top: 0px;
          border-radius: 0px;
        }
      }
      & .line2 {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        /* identical to box height */
        margin-top: 45px;
        color: #a19e9e;
      }
    }
  }
}
